<div class="page-header">
	<h1 class="text-center">School Info</h1>
</div>
<p class="lead text-center">This is all basic info about the school</p>
<div class="container">
<div class="row stylish-panel">
  <div class="col-md-4">
	<div>
	  <img src="http://lorempixel.com/200/200/abstract/1/" alt="Texto Alternativo" class="img-circle img-thumbnail">
	  <h2>Faculty 1</h2>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.
	  </p>
	  <a href="#" class="btn btn-primary" title="See more">See works »</a>
	</div>
  </div>
  <div class="col-md-4">
	<div>
	  <img src="http://lorempixel.com/200/200/abstract/2/" alt="Texto Alternativo" class="img-circle img-thumbnail">
	  <h2>Faculty 2</h2>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.
	  </p>
	  <a href="#" class="btn btn-primary" title="See more">See works »</a>
	</div>
  </div>
  <div class="col-md-4">
	<div>
	  <img src="http://lorempixel.com/200/200/abstract/3/" alt="Texto Alternativo" class="img-circle img-thumbnail">
	  <h2>Faculty 3</h2>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.
	  </p>
	  <a href="#" class="btn btn-primary" title="See more">See works »</a>
	</div>
  </div>
</div>
<div class="row stylish-panel">
  <div class="col-md-4">
	<div>
	  <img src="http://lorempixel.com/200/200/abstract/4/" alt="Texto Alternativo" class="img-circle img-thumbnail">
	  <h2>Faculty 4</h2>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.
	  </p>
	  <a href="#" class="btn btn-primary" title="See more">See works »</a>
	</div>
  </div>
  <div class="col-md-4">
	<div>
	  <img src="http://lorempixel.com/200/200/abstract/5/" alt="Texto Alternativo" class="img-circle img-thumbnail">
	  <h2>Faculty 5</h2>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.
	  </p>
	  <a href="#" class="btn btn-primary" title="See more">See works »</a>
	</div>
  </div>
  <div class="col-md-4">
	<div>
	  <img src="http://lorempixel.com/200/200/abstract/6/" alt="Texto Alternativo" class="img-circle img-thumbnail">
	  <h2>Faculty 6</h2>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.
	  </p>
	  <a href="#" class="btn btn-primary" title="See more">See works »</a>
	</div>
  </div>
</div>
</div>
