<h2>List of Schools</h2>
<uib-accordion close-others="false">
  <uib-accordion-group is-open="status.open" data-ng-repeat="schoolData in main.schoolData | orderBy:'-schools.length'"  panel-class="panel-primary">
    <uib-accordion-heading>
      {{schoolData.state | capitalize}}
      <span class="badge">{{schoolData.schools.length}}</span>
      <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    </uib-accordion-heading>
    <!-- Table -->
    <table class="school-table table table-condensed table-hover">
      <thead>
        <tr>
          <th>Sr. No</th>
          <th>School Name</th>
          <th class="hidden-xs">#Students</th>
          <th class="hidden-xs">#Faculties</th>
          <th>!</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="school in schoolData.schools">
          <td>{{$index + 1}}</td>
          <td>
            <a href="#/schools?name={{school.name}}">{{school.name}}</a>
          </td>
          <td class="hidden-xs">{{school.studentCount}}</td>
          <td class="hidden-xs">{{school.facultyCount}}</td>
          <td>{{school.alerts}}</td>
        </tr>
      </tbody>
    </table>
  </uib-accordion-group>
</uib-accodian>
