<div class="page-header">
  <h1 class="text-center">{{school.name}}</h1>
</div>
<p class="lead text-center">This is all basic info about the school</p>
<div class="container">
  <div class="row stylish-panel">
    <div class="col-md-4">
      <div>
        <img src="/images/faculty-profile-unknown.png" alt="Texto Alternativo" class="img-circle img-thumbnail img-200">
        <h2>Faculty 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a href="#" class="btn btn-primary" title="See more">See more »</a>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <img src="/images/faculty-profile-unknown.png" alt="Texto Alternativo" class="img-circle img-thumbnail img-200">
        <h2>Faculty 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a href="#" class="btn btn-primary" title="See more">See more »</a>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <img src="/images/faculty-profile-unknown.png" alt="Texto Alternativo" class="img-circle img-thumbnail img-200">
        <h2>Faculty 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a href="#" class="btn btn-primary" title="See more">See more »</a>
      </div>
    </div>
  </div>
</div>
